.title-img{
    width: 400px;
    height: 400px;
}
html{
  scroll-behavior: smooth;

}
.header {
    overflow: hidden;
    background-color: #ffd000;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: rgb(56, 56, 56);
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .toggle{
        display: block;
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .title-img{
        width: 250px;
        height: 250px;
   }
   .y-image{
    width: 50px;
    height: 50px;
  }
  .y-para{
    width: 100px;
    text-align: justify;
  }
  
  .col2{
    width: 30px;
  }
   .s-images{
     width: 200px;
     height: 200px;
   }
   
   .docto{

    width: 280px;
    height: 250px;
}
    
    .header-right {
      float: none;
    }
  }
  .jumbotron{

}
.col1{
    width: 400px;
    width: 400px;
}
.col2{
    margin-top: 120px;
    margin-left: 50px;
}
.col{
  margin-top: 100px;
}
.container{
  margin-top: 50px;
}
.t-img{
  width: 400px;
  height: 300px;
}
.jumbotron-1{
display: flex;
}
.tell{
  flex: 1;
}
.plan{
  flex: 1;
}
.kit{
  flex: 1;
}
.enjoy{
  flex: 1;
}
.s-images{
  width: 100px;
  height: 100px;
  
}

.s-para{
  text-align: center;
  margin-top: 30px;
}
.s-head{
  size: 20px;
  text-align: center;
  margin-top: 20px;
}
.s-title{
  text-align: center;
}
.y-para{
  width: 400px;
}
.y-img{
  width: 200px;
  height: 280px;
}